@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
    --clr-primary: #008080;
    --clr-secondary: #0F4C75;
    --clr-white: #FFFFFF;
    --clr-black: #0F0F0F;
    --clr-gray: #3E3E3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

button {
    background-color: transparent;
    border: 0;
    outline: none;
}

:focus {
    box-shadow: none;
    border: 0;
    outline: none;
}

body {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

span {
    color: var(--span-title-clr, var(--clr-primary));
}

ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

/* .title{
    --main-title-fs: 6rem;
    --main-title-ls: 0.2rem;

    --h2-title-fs: 5rem;
    --h2-title-ls: 0.2rem;


    --para-title-fs: 2.8rem;
} */

h1 {
    font-size: var(--main-title-fs, 3rem);
    font-weight: var(--main-title-fw, 700);
    letter-spacing: var(--main-title-ls, 0.0rem);
    line-height: var(--main-title-lh, auto);
    color: var(--main-title-clr, var(--clr-black));
    margin-bottom: var(--main-title-mb, 1.5rem);
}

h2 {
    font-size: var(--h2-title-fs, 2.5rem);
    font-weight: var(--h2-title-fw, 600);
    letter-spacing: var(--h2-title-ls, 0.1rem);
    line-height: var(--h2-title-lh, auto);
    color: var(--h2-title-clr, var(--clr-black));
    margin-bottom: var(--h2-title-mb, 1rem);
}

h6 {
    font-size: var(--h6-title-fs, 1.8rem);
    font-weight: var(--h6-title-fw, 700);
    letter-spacing: var(--h6-title-ls, 0.15rem);
    line-height: var(--h6-title-lh, 150%);
    color: var(--h6-title-clr, var(--clr-white));
    margin-bottom: var(--h6-title-mb, 1.5rem);
}

p {
    font-size: var(--para-title-fs, 1.8rem);
    font-weight: var(--para-title-fw, 400);
    letter-spacing: var(--para-title-ls, 0rem);
    line-height: var(--para-title-lh, 150%);
    color: var(--para-title-clr, var(--clr-gray));
}

a {
    font-size: var(--link-title-fs, 1.6rem);
    font-weight: var(--link-title-fw, 600);
    letter-spacing: var(--link-title-ls, 0.15rem);
    line-height: var(--link-title-lh, 150%);
    color: var(--link-title-clr, var(--clr-white));
    margin-bottom: var(--link-title-mb, 0.5rem);
    display: inline-block;
}

section {
    padding: 40px 0px;
}

/*  header start  */

#header {
    padding: 21px 0px;
}

.brand-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brand-logo span {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    /* color: var(--clr-black); */
}

.brand-logo img,
.social_links a img {
    max-width: 3.5rem;
}

#humbergerBtn img {
    max-width: 3.5rem;
}

/* navbar start */

#navbar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;

    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

#navbar.open {
    visibility: visible;
    opacity: 1;
}

.nav_links {
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */


    --link-title-mb: 0;
    --link-title-fs: 2.5rem;


}

.nav_link {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.nav_link:nth-child(even) {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.nav_link:nth-child(1) {
    background-color: var(--clr-primary);
}

.nav_link:nth-child(2) {
    background-color: var(--clr-black);
}

.nav_link:nth-child(3) {
    background-color: var(--clr-primary);
}

.nav_link:nth-child(4) {
    background-color: var(--clr-secondary);
}

.nav_link a {
    height: 25vh;

    display: grid;
    place-items: center;
}

#navbar.open .nav_link {
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
}

#closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1001;
    max-width: 30px;

    transform: translate(200%);
    -webkit-transform: translate(200%);
    -moz-transform: translate(200%);
    -ms-transform: translate(200%);
    -o-transform: translate(200%);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

#navbar.open #closeBtn {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

/* navbar end */


/*  header end  */




/* footer start */

#footer {
    background-color: var(--clr-black);
    padding: 40px 0px;
}

#footer .brand-logo {
    margin-bottom: 2rem;
}

#footer .brand-logo span {
    color: var(--clr-white);
}

#footer .title {


    --para-title-clr: var(--clr-white);
    --para-title-fw: 500;
}

.social_links {
    display: flex;
    gap: 15px;
}

.address p {
    white-space: pre-line;
}

/* footer end */